<div class="contenedor">
  <div class="columna izquierda">
    <h2>FINALIZACION COMPRA</h2>
    <div class="alerta">
      <span class="alerta-icono">⚠️</span>
      <span class="alerta-texto">Los pedidos pueden tener una demora de hasta 48 hs. Por cualquier consulta comunicarse
        a nuestro WhatsApp</span>
    </div>
    <h3>Entrega de Pedido</h3>
    <div class="opciones-envio">
      <label>
        <input type="radio" name="envio" [(ngModel)]="radioButtonSeleccionado" value="domicilio"
          (change)="showEnvio()" />
        <span class="texto-opcion">Envío a domicilio</span>
        <span class="info-opcion">A acordar</span>
      </label>
      <label>
        <input type="radio" name="envio" [(ngModel)]="radioButtonSeleccionado" value="farmacia"
          (change)="showEnvio()" />
        <span class="texto-opcion">Retiro en sucursal</span>
        <span class="info-opcion">Gratis</span>
      </label>
      <div class="error-message" *ngIf="envioTocado && !radioButtonSeleccionado">
        <span>Debe seleccionar una opción de entrega</span>
      </div>
    </div>

    <div *ngIf="showOpcionesPago">
      <h3>Opciones de Pago</h3>
      <div class="opciones-envio">
        <label>
          <input type="radio" name="efectivo" [(ngModel)]="opcionPagoSeleccionada" value="efectivo" />
          <span class="texto-opcion">Efectivo</span>
        </label>

        <!-- <label>
          <input type="radio" name="efectivo" [(ngModel)]="opcionPagoSeleccionada" value="transferencia" />
          <span class="texto-opcion">Transferencia</span>
        </label> -->
        <label>
          <input type="radio" name="efectivo" [(ngModel)]="opcionPagoSeleccionada" value="qr" />
          <span class="texto-opcion">Transferencia / QR</span>
        </label>

        <!-- Inicio Datos de Pago -->
        <div class="qr-pago-container" *ngIf="opcionPagoSeleccionada === 'qr' && infoEmpresa">
          <h4>Transferencia bancaria sin comisiones</h4>
          <p>Escaneá este código QR desde tu app bancaria para hacer la transferencia.</p>

          <div class="qr-bloque">
            <img [src]="generarQR(infoEmpresa.alias || infoEmpresa.cvu)" alt="QR de pago" />

            <div class="qr-datos">
              <p><strong>Alias:</strong> {{ infoEmpresa.alias }}</p>
              <p><strong>CVU:</strong> {{ infoEmpresa.cvu }}</p>
              <p><strong>Total a pagar:</strong> {{ getTotal() | currency }}</p>

              <button (click)="copiarCVU(infoEmpresa.cvu!)">
                📋 Copiar CVU
              </button>
            </div>
          </div>

          <small>Importante: el QR no tiene monto predefinido, debés ingresarlo manualmente al transferir.</small>
        </div>

        <div class="error-message" *ngIf="pagoTocado && !opcionPagoSeleccionada && showOpcionesPago">
          <span>Debe seleccionar una forma de pago</span>
        </div>
      </div>
    </div>

    <div class="alerta" *ngIf="showAlertaPago">
      <span class="alerta-icono">✅</span>
      <span class="alerta-texto">Contamos con todos los medios de pagos</span>
    </div>

    <!-- DATOS DE ENVÍO O RETIRO (SOLO SI HAY QUE MOSTRARLOS) -->
    <div *ngIf="facturacionEnvio || clienteEncontrado?.id === 'invitado'">
      <h3 *ngIf="facturacionEnvio">Datos de Envío</h3>
      <h3 *ngIf="!facturacionEnvio">Datos del Comprador</h3>

      <form [formGroup]="formCheckout" class="form-container">
        <div class="form-grid-carga-clientes" *ngIf="clienteEncontrado as cliente">

          <!-- Nombre y Apellido -->
          <div class="form-field">
            <input type="text" formControlName="user" [readonly]="cliente.id !== 'invitado'"
              [placeholder]="cliente.id === 'invitado' ? 'Nombre y apellido' : ''"
              [value]="cliente.id !== 'invitado' ? cliente.usuario : formCheckout.get('user')?.value" />
            <div class="error-message" *ngIf="formCheckout.get('user')?.invalid && mostrarErrores">
              <span>El nombre es obligatorio</span>
            </div>
          </div>

          <!-- Mail -->
          <div class="form-field">
            <input type="email" formControlName="mail" [readonly]="cliente.id !== 'invitado'"
              [placeholder]="cliente.id === 'invitado' ? 'Email' : ''"
              [value]="cliente.id !== 'invitado' ? cliente.mail : formCheckout.get('mail')?.value" />
            <div class="error-message" *ngIf="formCheckout.get('mail')?.invalid && mostrarErrores">
              <span>El email es obligatorio y debe ser válido</span>
            </div>
          </div>

          <!-- Teléfono -->
          <div class="form-field">
            <input type="text" formControlName="telefono" [readonly]="cliente.id !== 'invitado'"
              [placeholder]="cliente.id === 'invitado' ? 'Teléfono' : ''"
              [value]="cliente.id !== 'invitado' ? cliente.telefono : formCheckout.get('telefono')?.value" />
            <div class="error-message" *ngIf="formCheckout.get('telefono')?.invalid && mostrarErrores">
              <span>El teléfono es obligatorio</span>
            </div>
          </div>

          <!-- Dirección (solo visible en envío a domicilio) -->
          <div class="form-field" *ngIf="facturacionEnvio" style="display: flex; flex-direction: column; gap: 5px;">
            <input type="text" formControlName="domicilioEntrega"
              [readonly]="!direccionEditable && cliente.id !== 'invitado'"
              [placeholder]="direccionEditable || cliente.id === 'invitado' ? 'Domicilio' : cliente.direccion"
              [value]="direccionEditable || cliente.id === 'invitado' ? formCheckout.get('domicilioEntrega')?.value : cliente.direccion"
              [ngStyle]="{ 'color': direccionEditable || cliente.id === 'invitado' ? 'black' : 'gray' }" />

            <label style="font-size: 0.9rem; margin-top: 5px;">
              <input type="checkbox" (change)="toggleDireccionEditable($event, cliente.direccion)"
                [disabled]="cliente.id === 'invitado'" />
              Ingrese otra dirección de envío
            </label>

            <div class="error-message"
              *ngIf="(direccionEditable || cliente.id === 'invitado') && formCheckout.get('domicilioEntrega')?.invalid && mostrarErrores">
              <span>El domicilio de entrega es obligatorio</span>
            </div>
          </div>
        </div>
      </form>
    </div>


    <div class="contenedor-boton">
      <button
        (click)="registroCheckout(getPuntosAplicados(clienteEncontrado), (generalService.getTotalPrecio(clienteEncontrado, usarPuntos) / valorParaSumarPunto ))"
        type="button">Finalizar pedido</button>
    </div>
  </div>

  <div class="columna derecha">
    <div *ngIf="clienteEncontrado as cliente">
      <div *ngFor="let producto of cliente.carrito" class="card mb-3 shadow-sm border-0">
        <div class="row g-0 align-items-center">
          <div class="col-4">
            <img style="width: 60%;" [src]="producto.imagen" alt="{{ producto.nombre }}"
              class="img-fluid rounded-start" />
          </div>
          <div class="col-7">
            <div class="card-body py-2 px-3 text-center">
              <h6 class="card-title mb-2">
                {{ producto.nombre }} x <span style="color: #e71634;">{{ producto.cantidad }}u.</span>
              </h6>
              <div class="contenedor-productos"></div>
              <div class="info-precios mt-2">
                <strong class="precio-final">{{ producto.precioFinal * producto.cantidad | currency }}</strong>
              </div>
            </div>
          </div>
          <div class="col-1 d-flex justify-content-center align-items-start pt-3"></div>
        </div>
      </div>

      <div class="resumen-carrito mt-3" *ngIf="cliente.carrito && cliente.carrito.length > 0">

        <!-- Sección: Canjear Puntos -->
        <div *ngIf="cliente.id !== 'invitado' && !cliente.esMayorista" class="card mb-3" style="max-width: 500px; margin: auto;">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <strong>Canjeá tus puntos</strong><br />
              <small class="text-muted">Puntos disponibles: {{ cliente.puntos }}</small>
            </div>
            <mat-slide-toggle color="primary" [(ngModel)]="usarPuntos" [disabled]="cliente.puntos === 0">
            </mat-slide-toggle>
          </div>
        </div>

        <!-- Sección: Ingresar Cupón -->
        <div class="card mb-3" style="max-width: 500px; margin: auto;">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center my-4">
              <label class="form-label fw-bold mb-2 text-center">
                ¿Tenés un cupón de descuento?
              </label>
              <div class="d-flex flex-wrap justify-content-center" style="max-width: 500px; width: 100%;">
                <input
                  type="text"
                  [formControl]="cuponControl"
                  placeholder="Ingresá tu cupón"
                  class="form-control rounded mb-2 text-center"
                  style="height: 40px; flex: 1 1 250px; margin-right: 5px;"
                />
                <button
                  [disabled]="cuponAplicado || cuponControl.disabled"
                  class="btn btn-primary rounded d-flex align-items-center justify-content-center"
                  type="button"
                  (click)="aplicarCupon()"
                  style="height: 40px; min-width: 70px;"
                >
                  Aplicar
                </button>
              </div>
            </div>

            <!-- Cupón aplicado -->
            <div *ngIf="cuponAplicado" class="d-flex align-items-center bg-success bg-opacity-10 text-success rounded-pill px-3 py-2 mt-3" style="max-width: 450px;">
              <span class="flex-grow-1 text-truncate">
                Cupón aplicado: <strong>{{ cuponAplicado.codigo }}</strong> -
                <ng-container *ngIf="cuponAplicado.tipo === 'porcentaje'">
                  {{ cuponAplicado.valor }}% OFF
                </ng-container>
                <ng-container *ngIf="cuponAplicado.tipo === 'monto'">
                  ${{ cuponAplicado.valor }} OFF
                </ng-container>
              </span>
              <button 
                type="button" 
                class="btn btn-sm btn-outline-danger rounded-circle ms-2 p-1 d-flex align-items-center justify-content-center"
                style="width: 28px; height: 28px; line-height: 1;"
                (click)="eliminarCupon()"
                title="Quitar cupón"
              >
                ❌
              </button>
            </div>

            <mat-hint *ngIf="cuponInvalido" class="error">
              {{ mensajeCupon }}
            </mat-hint>


            <!-- Error de cupón -->
            <div *ngIf="errorCupon" class="text-danger mt-2">
              {{ errorCupon }}
            </div>
          </div>
        </div>

        <!-- Sección: Descuento por puntos -->
        <div *ngIf="usarPuntos && cliente.puntos > 0" class="card mb-3" style="max-width: 500px; margin: auto;">
          <div class="card-body">
            <small class="text-success">
              Descuento por {{ puntosAplicados }} puntos utilizados:
              {{ puntosAplicados * valorMonetarioPorPunto | currency }}
            </small>
          </div>
        </div>

        <!-- Sección: Total a pagar -->
        <div class="card mb-3" style="max-width: 500px; margin: auto;">
          <div class="card-body d-flex justify-content-between align-items-center">
            <h5 class="m-0">Total a pagar:</h5>
            <h5 class="m-0 text-primary">
              {{ generalService.getTotalPrecio(cliente, usarPuntos, valorMonetarioPorPunto, cuponAplicado) | currency }}
            </h5>
          </div>
        </div>

        <!-- Sección: Puntos a sumar -->
        <div *ngIf="cliente.id !== 'invitado' && !cliente.esMayorista" class="card mb-3" style="max-width: 500px; margin: auto;">
          <div class="card-body">
            <small>
              Esta compra sumará
              <strong>
                {{ (generalService.getTotalPrecio(cliente, usarPuntos) / valorParaSumarPunto) | number:'1.0-0' }}
              </strong>
              puntos
            </small>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- MODAL DE COMPRA FINALIZADA -->
<div *ngIf="mostrarModal" class="modal-overlay">
  <div class="modal-content">
    <h2>¡Gracias por su compra! Nro Pedido: {{ contador[0]?.contador }}</h2>
    <p>Su pedido ha sido procesado con éxito.</p>
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>

<app-footer></app-footer>