.item-card {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 40px;
}

.logo-ecommerce {
  width: 100%;
}

.discount-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
}

.product-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
