<div class="product-item bg-light mb-4">
    <div class="product-img position-relative overflow-hidden">
        <img class="img-fluid w-100" [src]="producto.imagen" alt="">
        <div class="product-action">
            <a (click)="agregarCarrito(producto)"><i class="fa fa-shopping-cart"></i></a>
            <a href=""><i class="far fa-heart"></i></a>
            <!-- <a href=""><i class="fa fa-sync-alt"></i></a> -->
            <a href=""><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="text-center py-4">
        <a class="h6 text-decoration-none text-truncate" href="">{{producto.nombre}}</a>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>{{producto.precioMinorista | currency}}</h5>
        </div>
        <!-- <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
        </div> -->
        <div class="d-flex align-items-center justify-content-center mb-1"
            *ngIf="producto.tieneVariantes && producto.variantes?.length">
            <div *ngFor="let variante of producto.variantes" class="color-circle me-1 mb-1"
                [ngStyle]="{ 'background-color': variante.valor }" [title]="variante.valor">
            </div>
        </div>
    </div>
</div>