.marquesina {
    position: fixed; 
    top: 0; 
    left: 0;
    color: white;
    font-weight: bold; 
    width: 100%; 
    background-color:#212529;
    padding: 5px; 
    text-align: center; 
    font-size: 12px; 
    z-index: 1000; 
  }


  .message {
    padding: 10px;
    font-size: 12px;
    color: white;
    background-color: #212529; 
    margin-right: 30px;  /* Espacio entre los mensajes */
    animation: scrollMessage 10s linear infinite;
      text-transform: uppercase;
  }
  
  .message:nth-child(2) {
    animation-delay: 10s;  /* Segundo mensaje aparece después de 10 segundos */
  }
  
  .message:nth-child(3) {
    animation-delay: 20s;  /* Tercer mensaje aparece después de 20 segundos */
  }
  
  @keyframes scrollMessage {
    0% {
      transform: translateX(100%);  /* Empieza fuera de la pantalla, a la derecha */
    }
    100% {
      transform: translateX(-100%);  /* Termina fuera de la pantalla, a la izquierda */
    }
  }