.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.titulo {
  background-color: var(--color-primario);
  color: white;
  text-align: center;
  display: flex;             
  justify-content: center;   
  align-items: baseline;     
  gap: 0.5rem;               
}

.titulo h2{
  margin: 0;   
}