<div class="imagen-central fadeIn first">
  <img src="../../../../../assets/logo.png" alt="Login" />
</div>

<mat-card class="producto-form-card">
  <mat-card-content>
    <form [formGroup]="ordenForm" (ngSubmit)="onSubmit()">

      <!-- Datos del cliente -->
      <div class="form-grid fadeIn first">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dniCliente" type="number" (keydown.enter)="buscarCliente()"
            (blur)="buscarCliente()">
            
          <button mat-icon-button matSuffix type="button" (click)="buscarCliente()" title="Buscar Cliente">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <div class="form-grid fadeIn second">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombreCliente" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellidoCliente" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefonoCliente" required>
        </mat-form-field>
      </div>

      <!-- Datos del equipo -->
      <div class="form-grid fadeIn third">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>IMEI</mat-label>
          <input matInput formControlName="imei">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Equipo</mat-label>
          <input matInput formControlName="equipo" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Motivo de ingreso</mat-label>
          <input matInput formControlName="motivoIngreso" required>
        </mat-form-field>
      </div>

      <!-- Otros campos -->
      <div class="form-grid fadeIn fourth">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Presupuesto (opcional)</mat-label>
          <input matInput formControlName="presupuesto" type="number">
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="form-field full-width fadeIn fourth">
        <mat-label>Observaciones</mat-label>
        <textarea matInput rows="3" formControlName="observaciones"></textarea>
      </mat-form-field>

      <!-- Botón Guardar -->
      <div class="acciones fadeIn fourth">
        <button mat-raised-button color="primary" type="submit" [disabled]="ordenForm.invalid">
          Guardar Orden
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>